.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 9.375rem;
}

.nav-items {
  padding: 0rem 1.875rem;
}

.nav-items > ul {
  font-size: 1.5rem;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 0.625rem;
  margin: 0.625rem;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  padding: 0.313rem;
  width: 12.5rem;
  border: 1px solid black;
  background-color: #f0f0f0;
  margin: 5px;
}

.search {
  padding: 0.625rem;
}

.res-logo {
  width: 100%;
}

.filter-btn {
  margin: 0.2rem;
  padding: 0.5rem;
  cursor: pointer;
}

/* Shimmer container styles */
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

/* Shimmer card styles */
.shimmer-card {
  margin: 20px;
  width: 12.5rem;
  height: 400px;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
  border-radius: 8px; /* Add rounded corners to the card */
}

/* Shimmer animation */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Apply the shimmer effect to the card */
.shimmer-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent 25%,
    rgba(255, 255, 255, 0.4) 50%,
    transparent 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}
